<div class="card-footer text-muted text-right">
  <div class="btn-group btn-group-sm footerBtns">
    <h4 class="points-span mr-3">{{post.points}} points </h4>
    <p>You are the author and can't vote on this post.</p>
  </div>
</div>
</div>