<div class="card-footer text-muted text-right">
  <div class="btn-group btn-group-sm footerBtns">
    {{#exists post.usersVoted post.authorId}}
    <p>TRUE</p>
    {{else}}
    <p>{{req.session}}</p>
    <p>FALSE</p>
    {{/exists}}
  </div>
</div>
</div>