<div>
  Hangouts!
</div>

<div>
  <ul>
    {{#each rooms as |room|}}
    <li>
      <a href="/rooms/{{room.id}}">{{room.topic}}</a> | <a href="/rooms/{{room.id}}/edit"></a>
    </li>
    {{/each}}
  </ul>
</div>