<div class="mt-5">
  <h2>Pick a Room!</h2>
</div>

<div>
    {{#each rooms as |room|}}
    <h5 class="mt-4">
      <a href="/rooms/{{room.id}}">{{room.topic}}</a> | <a href="/rooms/{{room.id}}/edit"><img class="cog" src="/images/logos/cog.png"></a>
    </h5>
    {{/each}}
</div>
    <b><p class="mt-5">Or create a new one <a href="/rooms/new"><u>here!</u></a></p></b>