<div>
  <form action="/rooms" method="post" class="snyggForm">
    <legend>Create a new hangout!</legend>

    <div class="form-group mt-5">
      <label for="room-title">Topic:</label>
      <input type="text" autofocus="autofocus" maxlength="20" name="topic" class="form-control" id="room-topic" placeholder="Topic">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Create!</button>
    </div>
  </form>
</div>