<div>
  <img class="errorlogo" src="/images/logos/logo_transparent.png">
  <div>
    <h4>Couldn't find that specific room, why don't you create one?</h4>
    <a href="http://localhost:3000/rooms/new"><button class="btn btn-primary">Create!</button></a>
  </div>
</div>