<div class="mt-5">
{{# if user.isAdmin}}
<h1>Admin</h1>
<div class="mt-3 mb-4">
  <h2>Users</h2>
</div>

<div class="col-md-5">
  {{#each users as |user|}}
  <div class="mb-3 row justify-content-between">
  <h3>{{user.username}}</h3>
  <form>
  <button class="btn btn-sm btn-primary">Mod</button>
  <button class="btn btn-sm btn-danger">Del</button>
  <button class="btn btn-sm btn-success">Edit</button>
  </form>
  </div>
  {{/each}}
</div>
{{else}}
<p>not admin</p>
{{/if}}
</div>