<div class="mt-5">
{{# if user.isAdmin}}
<h1>Admin</h1>
<div class="mt-3">
  <h2>Users</h2>
</div>

<div>
  {{#each users as |user|}}
  <p>{{user.username}}</p>
  {{/each}}
</div>
{{else}}
<p>not admin</p>
{{/if}}
</div>