<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">

    <div class="navbarlogo navbar-brand d-flex flex-end">
      <img class="logo" src="/images/logos/logo.png">
      <a href="/">
        <h1 class="navbar-text ml-3 mt-2 center navTitle">Meme:it!</h1>
      </a>
    </div>

    <div class="navbar-text d-flex">
      {{# if user.isAdmin}}
      <a class="navbar-brand mr-5 navItems" href="/admin">Admin</a>
      {{/if}}
      <a class="navbar-brand mr-5 navItems" href="/">Home</a>
      <a class="navbar-brand mr-5 navItems" href="/users/profile">Profile</a>
      <a class="navbar-brand mr-5 navItems" href="/rooms">Rooms</a>

      {{# if currentUserId}}
      <a class="nav-link navItems" href="/logout">Logout</a>
      {{else}}
      <a class="nav-link navItems" href="/login">Login</a>
      <a class="nav-link navItems" href="/users/new">Register</a>
      {{/if}}
    </div>

  </nav>


  <main>
    {{{body}}}
  </main>
</body>

</html>