html {
  overflow-y: scroll;
}

*, a:link, a:visited {
  text-decoration: none;
}

body {
  text-decoration: none;
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

a {
  color: black;
  margin-top: 15px;
}

main {
  padding: 1em 2em;
}

li {
  transition: background-color .25s ease-in-out;
}

li:hover {
  background-color: #DCDCDC;
}

.snyggForm {
  margin-top: 100px;
  margin-left: 50px;
  max-width: 20em;
}

.navbarlogo {
  height: 10%;
  width: 10%;
}

.navItems {
  transition: color .25 ease-in-out;
}

.navTitle {
  transition: 1 ease-in-out;
}

.navItems:hover {
  color: lightgrey!important;
  transform: scale(1.05);
}

.navTitle:hover {
  color: white!important;
  transform: scale(1.05);
}

.logo {
  height: 70%;
  width: 70%;
}

.errorlogo {
  height: 20%;
  width: 20%;
}

.cog {
  height: 20%;
  width: 20%;
  transition: all .2s ease-in-out;
}

.cog:hover {
  transform: scale(1.2);
  color: white;
}

.points-span {
  display: flex;
  align-items: flex-end;
}

.news {
  border: 1px solid black;
  width: 40%;
  padding: 2%;
}

.comment {
  font-size: 1.2em;
}