<div class="mt-5">
  <h1 class="mb-5">User Guidelines</h1>
  <div class="news">
    <p class="mb-3">Here are some fundamental guidelines for the forums:</p>
    <ul>
      <li>You shall not steal</li>
      <li>You shall not pass</li>
      <li>You shall not shlalom</li>
      <li>Forget about it</li>
    </ul>
  </div>

  <h2 class="mt-5">Now when you read all this, you can proceed to <a href="/login"><button type="submit"
        class="btn btn-success">Login</button> </a></h2>

</div>